@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
        height: 80%;
        margin-top: 30px;
      }
      /* Optional: Makes the sample page fill the window. */

html, body {
       height: 100%;
       margin: 0;
       padding: 0;
      }

header {
    height: 70px;
    width: 100%;
}     
