@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body{
	margin:0;
	padding:0px;
}

#map {
        height: 80%;
        margin-top: 5px;       
      }

      /* Makes the sample page fill the required window. */

html, body {
       height: 100%;
       margin: 0;
       padding: 0;
      }


/*---------Navbar -----------*/

.navbar-brand {
  font-size: 30px;
  color: white;
}

.fa {
    color: yellow;    
}

.span-color {
    background-color: yellowgreen;
}
.navbar {
    height: 100px;
    width: 100%;
    background-color: rgba(77, 74, 71, 0.89);
    padding: 10px 10px;
    margin-bottom: 5px;   
}  

/*-----End of Navbar -----------*/

/**-----------Panel---------*/

#panel {
      height: 70%;
      width: null;
      background-color: white;
      position: fixed;
      z-index: 1;
      overflow-x: hidden;
      transition: all .2s ease-out;
      margin-top: 10px;
    }
    
    .open {
      width: 250px;
    }

    /*--- for Place Details------ */

    .hero {
      width: 100%;
      height: auto;
      max-height: 166px;
      display: block;
    }

    .place,
    p {
      font-family: 'open sans', arial, sans-serif;
      padding-left: 18px;
      padding-right: 18px;
    }

    .details {
      color: darkslategrey;
    }

    a {
      text-decoration: none;
      color: cadetblue;
    }

    /*----------End Map ---------------*/

    /*---------Search Box---------------*/

    #user-input {
    position: absolute;
    left: 40%;   
    top: 10px;
    width: 230px;
    height: 30px;
    border-radius: 18px;
    }
    
     


     




/*----------------Buttons------------------*/

/*-----Refresh Button-----*/

button.refresh {
    background-color: rgb(134, 90, 7); 
  border-radius: 18px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 26px;
  margin: 70px 120px;
  cursor: pointer;
 transition: 0.3s;
 position: absolute;  
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);  
    
}


button.refresh:hover{
	box-shadow: inset 10px 4px 18px #ec7728, inset 5px 5px 18px #4a4a4a;
}

/*-------Hero Button------*/

.hero-button {
  background-color: rgba(77, 74, 71, 0.89);
  border-radius: none;
  color: white;
  text-align: center;
  padding: 4px;
  position:relative;  
  bottom: 10px;
  margin-top: 20px;   
  text-decoration-style: none;
  font-size: 30px;     
  height: 80px; 
  width: 100%;  
  margin-bottom: 20px;
}
.full-address {
    display: none;
}

/*----------------Covid19 API-----------*/

.corona-info {    
    margin-top: 60px 100px;
}

/*------------------Footer-----------*/
footer {
    height: 50px;
    background-color: rgba(77, 74, 71, 0.89);

    margin-top: 130px;
   
}

/*---------------------Table -------------*/
.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	 background-color: #f1f1c1;	
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) { 

  #user-input {
   position: absolute;
    left: 25%;
    top: 60px; 
     width: 200px; 
    height: 30px;
    border-radius: 18px;
  }

.navbar-brand {
    font-size: 25px;
    color: white;
    
  }

  .navbar {
      display: block;
  }

#right-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 5px;
    top: 25%;
 }



.location-details, .covid19-API {
    position: relative;
    right: 23px;
    border-radius: 0px;
    height: 300px;
    margin-top: 30px;
}

.location-details tr {
         height: 100px;
     }
    
    .corona-info {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
 }

}



/*------------Table-------------*/

@media screen and (max-width:632px) {

	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{		
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
   

   

 footer {
     position: absolute;
     bottom: 90%;
 }

/*
.location-details tr {
         height: 40px;
     }
*/

    button.refresh {
    background-color: rgb(134, 90, 7); 
  
  margin: 100px 20px;
  
    }
.hero-button { 
  height: 80px; 
  font-size: 22px;
} 

